---
export function getStaticPaths() {
  return [
    {params: {id: '1'}},
    {params: {id: '2'}},
    {params: {id: '3'}},
    {params: {id: '4'}}
  ];
}

const tecnologies = {
        html: { name: 'HTML5', icon: 'html5_icon.svg', applied: true },
        css: { name: 'CSS3', icon: 'css3_icon.svg', applied: true },
        js: { name: 'JavaScript', icon: 'javascript_icon.svg', applied: true },
        react: { name: 'React JS', icon: 'react_icon.svg', applied: true },
        php: { name: 'PHP', icon: 'php_icon.svg', applied: true },
        bootstrap: { name: 'Bootstrap', icon: 'bootstrap_icon.svg', applied: true },
        mysql: { name: 'MySQL', icon: 'mysql_icon.svg', applied: true },
        vue: { name: 'Vue JS', icon: 'vue_icon.svg', applied: false },
        figma: { name: 'Figma', icon: 'figma_icon.svg', applied: true },
        firebase: { name: 'Firebase', icon: 'firebase_icon.svg', applied: true },
        node: { name: 'Node JS', icon: 'nodejs_icon.svg', applied: true },
        vuetify: { name: 'Vuetify', icon: 'vuetify_icon.svg', applied: false },
        express: { name: 'Express JS', icon: 'express_icon.svg', applied: true },
        astro: { name: 'Astro JS', icon: 'astro_icon.svg', applied: true },
        nest: { name: 'Nest JS', icon: 'nestjs_icon.svg', applied: false }
};

const projects = [
    { id: '1', name: 'Hotel Casa Barlovento', description: 'En este proyecto, se llevó a cabo la creación de una Landing Page para el Hotel Casa Barlovento, con el objetivo de aumentar su presencia en línea y captar la atención de potenciales huéspedes. La Landing Page es una página web diseñada específicamente para convertir visitantes en clientes potenciales o generar una acción específica, como realizar una reserva.\r\n\nLa Landing Page se diseñó siguiendo las mejores prácticas de usabilidad y experiencia de usuario. Se utilizaron imágenes de alta calidad para mostrar las instalaciones del hotel, las habitaciones y las vistas impresionantes de la playa. Se incluyeron secciones con información detallada sobre los servicios, galería de fotos, comodidades y actividades disponibles para los huéspedes, como spa, piscina, restaurantes y deportes acuáticos.', url: 'https://www.hotelcasabarlovento.com/', categories: ['Diseño UI/UX'], tecnologies: [tecnologies.figma, tecnologies.html, tecnologies.css, tecnologies.js, tecnologies.vue, tecnologies.vuetify, tecnologies.node, tecnologies.firebase], images: ['barlovento-1.webp', 'barlovento-2.webp', 'barlovento-3.webp']},
    { id: '2', name: 'BabyName', description: 'BabyName, es un aplicativo web desarrollado con el fin de ayudar a los padres a encontrar nombres para sus bebés, tanto para niños como para niñas. La idea surgió de la necesidad de contar con una herramienta práctica que proporcionara opciones de nombres y su significado de manera fácil y rápida.\r\n\nSe implementó una función de búsqueda que permitía a los usuarios filtrar los nombres por género y letra inicial. Esto brindaba a los padres la posibilidad de encontrar nombres que se ajustaran a sus preferencias.\r\n\nAdemás de proporcionar una lista de nombres, la página web también incluía información detallada sobre cada nombre, como su origen, significado y posibles variaciones. Se buscó que esta información fuera útil y enriquecedora para los padres, ayudándoles a tomar una decisión informada y significativa.', url: 'https://babyname-project.netlify.app/', categories: ['Diseño UI/UX', 'Frontend', 'Backend/API', 'Base de datos'], tecnologies: [tecnologies.figma, tecnologies.html, tecnologies.css, tecnologies.js, tecnologies.vue, tecnologies.vuetify, tecnologies.node, tecnologies.firebase], images: ['babyname-1.webp','babyname-2.webp','babyname-3.webp']},
    { id: '3', name: 'Sistema de administración, Airtech Communications BPO', description: 'Para la Empresa Airtech Communications BPO, se desarrolló un software web personalizado, que tiene como principal función administrar de manera eficiente los datos de los empleados y los equipos de cómputo asignados a cada uno de ellos. La finalidad fue centralizar y simplificar el proceso de seguimiento y gestión de la información, mejorando la eficiencia operativa de la empresa.\r\n\nSe craron diferentes módulos que permiten ingresar y actualizar los datos de los empleados, incluyendo información personal, roles y datos de contacto. Además, se implementó un módulo para gestionar los equipos de cómputo, permitiendo asignarlos a los empleados, registrar su estado y llevar un historial de mantenimiento.', url: 'https://www.figma.com/proto/eNc4In5Aj41DnDXuIshx7P/Airtech-Web?node-id=51-2&starting-point-node-id=51%3A2&scaling=scale-down', categories: ['Diseño UI/UX', 'Frontend', 'Backend/API', 'Base de datos'], tecnologies: [tecnologies.figma, tecnologies.html, tecnologies.css, tecnologies.js, tecnologies.vue, tecnologies.vuetify, tecnologies.node, tecnologies.firebase], images: ['airtech-1.webp','airtech-2.webp','airtech-3.webp']},
    { id: '4', name: 'Conversor de unidades', description: 'Esta página web sencilla de conversión de unidades, en donde se puede realizar la conversión de tiempo, longitud, velocidad y monedas, se realizó con el fin de crear una herramienta práctica y fácil de usar para realizar conversiones rápidas y precisas.\r\n\nPara las conversiones de monedas, se integró una API externa que proporciona tasas de cambio actualizadas. Esto permite a los usuarios obtener conversiones precisas y en tiempo real, utilizando información confiable y actualizada.\r\n\nPara las conversiones de tiempo, longitud y velocidad, se desarrolló una API propia. Se crearon fórmulas y algoritmos que permitían realizar las conversiones de manera precisa y eficiente. Esta API fue integrada en la página web, permitiendo a los usuarios obtener resultados instantáneos con solo unos pocos clics.', url: 'https://equivalenciasapp-production.up.railway.app/', categories: ['Diseño UI/UX', 'Frontend'], tecnologies: [tecnologies.figma, tecnologies.html, tecnologies.css, tecnologies.js, tecnologies.vue, tecnologies.vuetify, tecnologies.node, tecnologies.firebase], images: ['unit-converter-1.webp','unit-converter-2.webp','unit-converter-3.webp']}
];

const { id } = Astro.params;

const project = projects.find(project => project.id == id);

import Layout from '../../layouts/layout.astro';
import '../../styles/project.css';
---
<Layout title={project.name}>
    <section class="container project">
        <div class="row justify-content-center">
            <div class="col col-12 col-lg-5">
                <div class="slider_container">
                    <div id="slider" class="slider scroll_behavior">
                        { project.images.map((image, i) => {
                            return (
                                <>
                                    <img src={'/images/projects/'+image} alt='project image' />
                                    { i == project.images.length - 1 ? (<img src={'/images/projects/'+project.images[0]} alt='project image' />) : '' }
                                </>
                            )     
                        }) }
                    </div>
                    <div class="btn_slider">
                        <button id="btn-before" class="btn-before">&#60;</button>
                        <button id="btn-after" class="btn-after">&#62;</button>
                    </div>
                </div>
                <script src="../../scripts/slider.js"></script>
            </div>
            <div class="col col-12 col-lg-5">
                <div class="project__titles">
                    <h1>0{project.id}.</h1>
                    <a href={project.url}>
                        <h2 class="display-6" title="Visitar sitio">{project.name}</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-12 col-lg-10">
                <div class="project__description">
                    <p>{project.description}</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-12 col-lg-5">
                <div class="project__categories">
                    <h3 class="display-7">Funciones realizadas</h3>
                    <ul class="project__categories__list">
                        { project.categories.map(category => {
                            return (
                                <li>{category}</li>
                            );
                        }) }
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-lg-5">
                <div class="project__tecnologies">
                    <h3 class="display-7">Tecnologías Usadas</h3>
                    <div class="project__tecnologies__list">
                        { project.tecnologies.map(tecnology => {
                            return (
                                <div>
                                    <img src={"../images/tecnologies/"+tecnology.icon} alt="tecnology icon" />
                                    <span>{tecnology.name}</span>
                                </div>
                            );
                        }) }
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</Layout>